* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 2rem;
}

.imageViewer {
    width: 80%;
    height: 70vh;
    box-shadow: 0 0 5px #1a1a1a;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}